.maintitle-img{
    height: 330px;
    width: 100%;  
}
.subtitle-img{
    width:100%;
    height:300px;
    
}
.subtitle-img:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}